<a href="https://colab.research.google.com/github/kiyong21c/nadocoding/blob/master/20211224_crawling%2Bmovie(monthly)rating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from datetime import datetime

print("---------영화 인기 순위(월간) -----------")
year = int(input("찾으실 '연도'를 입력해주세요 :")) # input 사용시 기본이 string 타입
month = int(input("찾으실 '월'을 입력해주세요 :"))


month_start = int(str(datetime(year, month, 1).date()).replace("-","")) # datetime(연,월,일).date() -> str() 지정시 0000-00-00의 string 형태로 설정됨
month_last = int(str(datetime(year, month+1, 1).date()).replace("-",""))


date = list(range(month_start, month_last)) # range()함수의 인자로 string 타입이 들어가서는 안됨

titles = [] # 빈 리스트를 만들때는 반복문이 영향을 미치지 않도록
points = []

for time in date:
  url = "https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=cur&date={}".format(date)
  res = requests.get(url)
  res.raise_for_status()  # 문제있으면 프로그램 종료
  soup = BeautifulSoup(res.text, "lxml")


  title_list = soup.find_all("td", attrs={"class":"title"})
  for title in title_list:
    titles.append(title.a.get_text())

  point_list = soup.find_all("td", attrs={"class":"point"})
  for point in point_list:
    points.append(point.get_text())


df = pd.DataFrame({'name':titles, 'point': points})
df

찾으실 '연도'를 입력해주세요 :2021
찾으실 '월'을 입력해주세요 :11

                  name point
0          나, 다니엘 블레이크  9.29
1               로마의 휴일  9.25
2                   코다  9.23
3               어바웃 타임  9.18
4        스파이더맨: 노 웨이 홈  9.18
...                ...   ...
3595          아무도 없는 곳  6.78
3596           장르만 로맨스  6.66
3597        매트릭스: 리저렉션  6.12
3598  베놈 2: 렛 데어 비 카니지  6.11
3599              이터널스  5.57

[3600 rows x 2 columns]

In [29]:
df_n = df.drop_duplicates(['name'], keep='last').reset_index(drop=True)
df_n

                name point
0        나, 다니엘 블레이크  9.29
1             로마의 휴일  9.25
2                 코다  9.23
3             어바웃 타임  9.18
4      스파이더맨: 노 웨이 홈  9.18
5            오즈의 마법사  9.14
6      꽃다발 같은 사랑을 했다  9.01
7               더 헌트  8.98
8            러브 액츄얼리  8.93
9               아멜리에  8.81
10          고양이를 부탁해  8.81
11           너의 이름은.  8.80
12      가장 따뜻한 색, 블루  8.77
13             공각기동대  8.72
14           걸어도 걸어도  8.64
15              라라랜드  8.62
16    너와 파도를 탈 수 있다면  8.52
17               태일이  8.48
18                레토  8.43
19           초속5센티미터  8.35
20       엔칸토: 마법의 세계  8.35
21         연애 빠진 로맨스  8.31
22     킹스맨: 퍼스트 에이전트  8.17
23             돈 룩 업  8.16
24            시인의 사랑  8.04
25          프렌치 디스패치  8.01
26            날씨의 아이  7.96
27       라스트 나잇 인 소호  7.85
28             유체이탈자  7.66
29          디어 에반 핸슨  7.51
30               아네트  7.27
31          아무도 없는 곳  6.78
32           장르만 로맨스  6.66
33        매트릭스: 리저렉션  6.12
34  베놈 2: 렛 데어 비 카니지  6.11
35              이터널스  5.57

In [5]:
from datetime import datetime

datetime(2021,10,10)

datetime.datetime(2021, 10, 10, 0, 0)

In [9]:
datetime(2021,10,10).date()

datetime.date(2021, 10, 10)

In [10]:
str(datetime(2021,10,10).date())

'2021-10-10'

In [26]:
from datetime import datetime

year = int(input("찾으실 연도를 입력해주세요 :"))
month = int(input("찾으실 월을 입력해주세요 :"))


month_start = int(str(datetime(year, month, 1).date()).replace("-",""))
month_last = int(str(datetime(year, month+1, 1).date()).replace("-",""))

찾으실 연도를 입력해주세요 :2020
찾으실 월을 입력해주세요 :1

In [27]:
range(month_start, month_last)

range(20200101, 20200201)