<a href="https://colab.research.google.com/github/kiyong21c/nadocoding/blob/master/20220105_crawling_movie_imgsave%2Bdataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
from bs4 import BeautifulSoup as bs

In [3]:
year = input()
url = "https://search.daum.net/search?nil_suggest=btn&w=tot&DA=SBC&q={}%EC%98%81%ED%99%94".format(year)
res = requests.get(url)
soup = bs(res.text, 'lxml')

2020

In [ ]:
soup

In [ ]:
soup.select('li.item')

In [11]:
soup.select('li.item')[0].p.get_text()

'다만 악에서 ..'

In [16]:
soup.select('li.item')[0]

<li class="item " onmouseout="C.smok.fn.mouseEnter(C.smok.v._smokResultListOut(event, this)); return false;" onmouseover="C.smok.fn.mouseEnter(C.smok.v._smokResultListOver(event, this));"> <a class="toolTipTrigger" href="?w=tot&amp;q=%EB%8B%A4%EB%A7%8C%20%EC%95%85%EC%97%90%EC%84%9C%20%EA%B5%AC%ED%95%98%EC%86%8C%EC%84%9C&amp;DA=KDR&amp;rtmaxcoll=EM1&amp;scckey=MV||127897" onclick='smartLog(this,"s=TO&amp;a=FSYX&amp;pg=1&amp;r=1&amp;p=7&amp;d=127897&amp;rc=14&amp;dc=KDR&amp;at=link",event);'> <img alt="이미지" height="120" onerror="C.smok.v._jsSmokImgError(this);" src="https://search1.daumcdn.net/thumb/P100x122.q70/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fmovie%2Fc15a793c35cd41c32c27188faba84211a9185fa0" width="94"/><p onclick='smartLog(this,"s=TO&amp;a=FSYX&amp;pg=1&amp;r=1&amp;p=8&amp;d=127897&amp;rc=14&amp;dc=KDR&amp;at=func",event);'>다만 악에서 ..</p> </a> <div class="smokResultToolTip"><div class="tooltipTit"><a href="?w=tot&amp;q=%EB%8B%A4%EB%A7%8C%20%EC%95%85%EC%97%90%EC%84%9C%20%EA%B5%AC%ED%95%98%EC%86%8C%EC%84%9C&amp;DA=KDR&amp;rtmaxcoll=EM1&amp;scckey=MV||127897" onclick='smartLog(this,"s=TO&amp;a=FSYX&amp;pg=1&amp;r=1&amp;p=8&amp;d=127897&amp;rc=14&amp;dc=KDR&amp;at=link",event);'>다만 악에서 구하소서</a></div><div class="desc"><ul><li>제작 : 한국, 2020</li><li>평점 : 6.8</li><li>개봉 : 2020-08-05</li></ul></div><span class="bullet"></span></div> </li>

In [17]:
soup.select('li.item')[0].img['src']

'https://search1.daumcdn.net/thumb/P100x122.q70/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fmovie%2Fc15a793c35cd41c32c27188faba84211a9185fa0'

In [20]:
for idx, item in enumerate(soup.select('li.item')):
  title = item.p.get_text()
  img_url = item.img['src']
  print(title)
  print(img_url)
  print("---------------")

다만 악에서 ..
https://search1.daumcdn.net/thumb/P100x122.q70/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fmovie%2Fc15a793c35cd41c32c27188faba84211a9185fa0
---------------
어디갔어, 버..
https://search1.daumcdn.net/thumb/P100x122.q70/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fmovie%2F19db449f9b821e2753eb1ba7a43de4926a5ad162
---------------
범죄해결 특수..
https://search1.daumcdn.net/thumb/P100x122.q70/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fmovie%2F771d437d292da3d3d5e775103bc48d803dd308a7
---------------
도굴
https://search1.daumcdn.net/thumb/P100x122.q70/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fmovie%2F99a4d42206a028764e86c5bff8cf0021db985223
---------------
담보
https://search1.daumcdn.net/thumb/P100x122.q70/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fmovie%2F0c2466f6f09ff51b8dee1c1a039aadb0d4adf991
---------------
엠마
https://search1.daumcdn.net/thumb/P100x122.q70/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fmovie%2Fmovie-private%2F252188941d6ce247f7f98b957e7c96511e331631
---------------
해치지않아
https://search1.daumcdn.net/thumb/P100x122.q70/?fname=http%3A%2F%2Ft1.daumcdn.net%2Fmovie%2F0c338815e70f4fd7a4a3567f9d3abb0e1579055467364
---------------
레벨 16
https://search1.daumcdn.net/thumb/P100x122.q70/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fmovie%2F37027fea0709edbdf302330e485604510112b5bd
---------------
공수도
https://search1.daumcdn.net/thumb/P100x122.q70/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fmovie%2Fdong-test%2F50927b5d249e8723d5f8fc363386447883d1fd07
---------------
반도
https://search1.daumcdn.net/thumb/P100x122.q70/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fmovie%2F389d6e403d8ee48c419c7b16908919103e2c2670
---------------
레이니 데이 ..
https://search1.daumcdn.net/thumb/P100x122.q70/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fmovie%2Fcd6cbdd6bf320d231bdc4a42116be5cd5732a255
---------------
체이싱
https://search1.daumcdn.net/thumb/P100x122.q70/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fmovie%2Ffa7ff78deeb4bc180939c00eb513ae36c4847fdf
---------------
애비규환
https://search1.daumcdn.net/thumb/P100x122.q70/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fmovie%2Ff490fc528acf183463eab11ccffe4d1e710fd6db
---------------
삼진그룹 영어..
https://search1.daumcdn.net/thumb/P100x122.q70/?fname=https%3A%2F%2Ft1.daumcdn.net%2Fmovie%2F9509f8790818777a727c53216cef5c35c60c844c
---------------

In [ ]:
for idx, item in enumerate(soup.select('li.item')):
  title = item.p.get_text()
  img_url = item.img['src']
  res_img = requests.get(img_url)
  # print(res_img.content)

In [24]:
for idx, item in enumerate(soup.select('li.item')):
  title = item.p.get_text()
  img_url = item.img['src']
  res_img = requests.get(img_url)
  img = res_img.content

  with open("movie_{}_{}_{}.jpg".format(year, idx+1, title), "wb") as f :
    f.write(img)  # image_res가 가지고 있는 content를 파일로 쓰기

  if idx >= 4:  
    break

In [1]:
# 총 정리 #
# 1. 연도를 입력받아 상위 5개 영화 이미지 저장 하기

import requests
from bs4 import BeautifulSoup as bs

year = input()
url = "https://search.daum.net/search?nil_suggest=btn&w=tot&DA=SBC&q={}%EC%98%81%ED%99%94".format(year)
res = requests.get(url)
soup = bs(res.text, 'lxml')

for idx, item in enumerate(soup.select('li.item')): # li태그는 주로 리스트 항목들, select('태그.클래스') 리스트로 반환되므로 for문 활용
  title = item.p.get_text() # p태그 선택, get_text()로 텍스트 반환
  img_url = item.img['src'] # img태그의 'src' 속성 선택시 .img['src']
  res_img = requests.get(img_url) # img의 주소로 get요청
  img = res_img.content # 요청받은 값의 content는 유니코드형식의 문자

  with open("movie_{}_{}_{}.jpg".format(year, idx+1, title), "wb") as f :
    f.write(img)  # image_res가 가지고 있는 content를 파일로 쓰기

  if idx >= 4:  
    break

2021

In [26]:
import requests
from bs4 import BeautifulSoup as bs

year = input()
url = "https://search.daum.net/search?nil_suggest=btn&w=tot&DA=SBC&q={}%EC%98%81%ED%99%94".format(year)
res = requests.get(url)
soup = bs(res.text, 'lxml')

2022

In [27]:
soup.select('li.item div.desc') # li 각각을 써야 하는데 한번에 나올때는 next_sibling  함수X

[<div class="desc"><ul><li>제작 : 한국, 2020</li><li>평점 : 8.5</li><li>개봉 : 2022-01-05</li></ul></div>,
 <div class="desc"><ul><li>제작 : 한국, 2020</li><li>평점 : 8.9</li><li>개봉 : 2022-01-12</li></ul></div>,
 <div class="desc"><ul><li>제작 : 독일, 미국, 2021</li><li>평점 : 4.6</li><li>개봉 : 2022-01-00</li></ul></div>,
 <div class="desc"><ul><li>제작 : 미국, 2021</li><li>평점 : 10.0</li><li>개봉 : 2022-01-05</li></ul></div>,
 <div class="desc"><ul><li>제작 : 한국, 2021</li><li>평점 : 6.5</li><li>개봉 : 2022-01-26</li></ul></div>,
 <div class="desc"><ul><li>제작 : 미국, 2021</li><li>평점 : 7.0</li><li>개봉 : 2022-01-12</li></ul></div>,
 <div class="desc"><ul><li>제작 : 한국, 2021</li><li>평점 : 8.1</li><li>개봉 : 2022-01-26</li></ul></div>,
 <div class="desc"><ul><li>제작 : 미국, 캐나다, 2021</li><li>평점 : 10.0</li><li>개봉 : 2022-01-12</li></ul></div>,
 <div class="desc"><ul><li>제작 : 영국, 2021</li><li>평점 : 7.7</li><li>개봉 : 2022-01-10</li></ul></div>,
 <div class="desc"><ul><li>제작 : 프랑스, 독일, 2021</li><li>평점 : 10.0</li><li>개봉 : 2022-01-13</li></ul></div>,
 <div class="desc"><ul><li>제작 : 미국, 2022</li><li>평점 : 8.2</li><li>개봉 : 2022-03-00</li></ul></div>,
 <div class="desc"><ul><li>제작 : 미국, 2021</li><li>평점 : 8.5</li><li>개봉 : 2022-01-00</li></ul></div>,
 <div class="desc"><ul><li>제작 : 대만, 1983</li><li>평점 : 10.0</li><li>개봉 : 2022-01-06</li></ul></div>,
 <div class="desc"><ul><li>제작 : 미국, 영국, 2022</li><li>평점 : 9.3</li><li>개봉 : 2022-02-09</li></ul></div>]

In [56]:
soup.select('li.item div.desc')[0].li.get_text()

'제작 : 한국, 2020'

In [63]:
soup.select('li.item div.desc')[0].li.get_text()[5:-6]

'한국'

In [57]:
soup.select('li.item div.desc')[0].li.next_sibling.get_text()

'평점 : 8.5'

In [65]:
soup.select('li.item div.desc')[0].li.next_sibling.get_text()[5:]

'6.8'

In [66]:
soup.select('li.item div.desc')[0].li.next_sibling.next_sibling.get_text()[5:]

'2020-08-05'

In [ ]:
soup.select('li.item)

In [67]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

year = input()
url = "https://search.daum.net/search?nil_suggest=btn&w=tot&DA=SBC&q={}%EC%98%81%ED%99%94".format(year)
res = requests.get(url)
soup = bs(res.text, 'lxml')

title = []
nation = []
rate = []
date = []
for idx, movie in enumerate(soup.select('li.item div.tooltipTit')): # li.item 까지는 동일 하므로 for문을 나눌필요 없다.
  title.append(movie.a.get_text())

for idx, movie in enumerate(soup.select('li.item div.desc')): # li.item 까지는 동일 하므로 for문을 나눌필요 없다.
  nation.append(movie.li.get_text()[5:-6])
  rate.append(movie.li.next_sibling.get_text()[5:])
  date.append(movie.li.next_sibling.next_sibling.get_text()[5:])

df = pd.DataFrame({'제목':title, '국가':nation, '평점':rate, '개봉일':date})
df

2020

             제목   국가   평점         개봉일
0   다만 악에서 구하소서   한국  6.8  2020-08-05
1     어디갔어, 버나뎃   미국  7.8  2020-10-08
2      범죄해결 특수반   한국  2.8  2020-05-28
3            도굴   한국  6.9  2020-11-04
4            담보   한국  8.5  2020-09-29
5            엠마   영국  7.0  2020-02-27
6         해치지않아   한국  6.4  2020-01-15
7         레벨 16  캐나다  6.3  2020-12-10
8           공수도   한국  7.8  2020-04-09
9            반도   한국  5.3  2020-07-15
10  레이니 데이 인 뉴욕   미국  6.5  2020-05-06
11          체이싱  러시아  1.0  2020-04-23
12         애비규환   한국  6.2  2020-11-12
13   삼진그룹 영어토익반   한국  8.3  2020-10-21

In [11]:
# 총 정리 #
# 2. 연도를 입력받아 영화정보 데이터 프레임 만들기

import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

year = input()
url = "https://search.daum.net/search?nil_suggest=btn&w=tot&DA=SBC&q={}%EC%98%81%ED%99%94".format(year)
res = requests.get(url)
soup = bs(res.text, 'lxml')

# 미리 빈리스트로 초기화
title = []
nation = []
rate = []
date = []

# for idx, movie in enumerate(soup.select('li.item div.tooltipTit')): # for문 중복을 피하자
for idx, movie in enumerate(soup.select('li.item')):
  title.append(movie.select_one('div.tooltipTit').a.get_text())

# for idx, movie in enumerate(soup.select('li.item div.desc')):
  nation.append(movie.select_one('div.desc').li.get_text()[5:-6])
  rate.append(movie.select_one('div.desc').li.next_sibling.get_text()[5:])
  date.append(movie.select_one('div.desc').li.next_sibling.next_sibling.get_text()[5:])

df = pd.DataFrame({'제목':title, '국가':nation, '평점':rate, '개봉일':date})
df = df.sort_values('평점', ascending=False).reset_index(drop=True) # ascending=False : 내림차순, 인덱스 재설정후 기존인덱스 컬럼 drop
df

2009

                    제목       국가   평점         개봉일
0                 국가대표       한국  9.4  2009-07-29
1                  아바타       미국  9.0  2009-12-17
2                   바람       한국  9.0  2009-11-26
3   벤자민 버튼의 시간은 거꾸로 간다       미국  8.7  2009-02-12
4         스타트렉 : 더 비기닝       미국  8.4  2009-05-07
5              걸어도 걸어도       일본  8.4  2009-06-18
6             우리집에 왜왔니       한국  8.2  2009-04-09
7                 불신지옥       한국  8.0  2009-08-12
8                  해운대       한국  6.9  2009-07-22
9            불꽃처럼 나비처럼       한국  6.8  2009-09-24
10                  푸시       미국  6.4  2009-03-19
11                 카오스  캐나다, 영국  6.3  2009-03-26
12                  박쥐       한국  5.5  2009-04-30
13                 오감도       한국  1.8  2009-07-09

In [83]:
df.to_excel("movie.xlsx")

In [8]:
import openpyxl as op
from openpyxl.drawing.image import Image  #이미지 삽입을 위한 openpyxl 모듈의 Image 클래스

#엑셀 파일 및 시트 객체 생성
wb = op.Workbook()
ws = wb.active 

#이미지 파일 경로 및 파일명
path = r"/content/movie_2021_1_돈 룩 업.jpg" 

#Image 클래스의 객체 img 선언 : Image 클래스 선언시 매개변수는 이미지 파일 경로이다. 
img = Image(path) 

#WorkSheet의 add_image 함수 사용 : 매개변수는 각각 Image 객체, 불러올 위치(A1) 
ws.add_image(img,"A1")

# 셀의 너비/높이 수정
ws.column_dimensions['A'].width = 14
ws.row_dimensions[1].height = 100

#저장 
wb.save("result.xlsx")

In [21]:
# 총 정리 #
# 2. 연도를 입력받아 영화정보 데이터 프레임 만들기
# 3. 연도를 입력받아 영화 포스터이미지 저장, 데이터 프레임 엑셀로 저장 후 엑셀에 이미지 추가

import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

year = input()
url = "https://search.daum.net/search?nil_suggest=btn&w=tot&DA=SBC&q={}%EC%98%81%ED%99%94".format(year)
res = requests.get(url)
soup = bs(res.text, 'lxml')

# 미리 빈리스트로 초기화
title = []
nation = []
rate = []
date = []

for idx, movie in enumerate(soup.select('li.item')):
  title.append(movie.select_one('div.tooltipTit').a.get_text())
  nation.append(movie.select_one('div.desc').li.get_text()[5:-6])
  rate.append(movie.select_one('div.desc').li.next_sibling.get_text()[5:])
  date.append(movie.select_one('div.desc').li.next_sibling.next_sibling.get_text()[5:])

  # 이미지 추출
  img_title = item.p.get_text() # p태그 선택, get_text()로 텍스트 반환
  img_url = item.img['src'] # img태그의 'src' 속성 선택시 .img['src']
  res_img = requests.get(img_url) # img의 주소로 get요청
  img = res_img.content # 요청받은 값의 content는 유니코드형식의 문자
  # 이미지 저장
  with open("{}_{}_{}.jpg".format(year, idx, img_title), "wb") as f :
    f.write(img)  # image_res가 가지고 있는 content를 파일로 쓰기


df = pd.DataFrame({'제목':title, '국가':nation, '평점':rate, '개봉일':date})
df = df.sort_values('평점', ascending=False).reset_index(drop=True) # ascending=False : 내림차순, 인덱스 재설정후 기존인덱스 컬럼 drop
df.to_excel("{}년도 영화 순위.xlsx".format(year))
df

2000

            제목      국가   평점         개봉일
0       글래디에이터  영국, 미국  9.3  2000-06-03
1         박하사탕      한국  9.1  2000-01-01
2   공동경비구역 JSA      한국  9.1  2000-09-08
3        그린 마일      미국  9.0  2000-03-04
4        패밀리 맨      미국  8.8  2000-12-30
5         화양연화     프랑스  8.6  2000-10-20
6          리플리      미국  8.3  2000-03-04
7          춘향뎐      한국  8.2  2000-01-29
8    처음 만나는 자유  독일, 미국  8.1  2000-06-24
9       퍼펙트 스톰  독일, 미국  7.9  2000-08-05
10         거짓말      한국  6.3  2000-01-08
11      배니싱 트윈      한국  5.9  2000-09-23
12       오! 수정      한국  5.8  2000-05-27
13          미인      한국  5.6  2000-08-12

In [27]:
import openpyxl as op
from openpyxl.drawing.image import Image  #이미지 삽입을 위한 openpyxl 모듈의 Image 클래스

#엑셀 파일 및 시트 객체 생성
wb = op.Workbook("{}년도 영화 순위.xlsx".format(year))
ws = wb.active 

#이미지 파일 경로 및 파일명r"/content/
path = "/content/{}_{}_{}.jpg".format(year, idx, img_title)

i=2
for r in range(len(title)):
  img = Image(path)
  ws.add_image(img, "E{}".format(i))
  ws.row_dimension[i].height = 100
  i += 1
# 셀의 너비는 한번만 수정
ws.column_dimensions['A'].width = 14

ws.row_dimensions[1].height = 100

#저장 
wb.save("result.xlsx")

AttributeError: ignored