<a href="https://colab.research.google.com/github/kiyong21c/nadocoding/blob/master/20220219_time_relativedelta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import time # 데이터 처리시간 측정을 위해
import pandas as pd
from datetime import datetime, timedelta

now = datetime.now()
now

datetime.datetime(2022, 2, 19, 4, 50, 45, 237145)

In [8]:
datetime.now() # datetime.datetime(2022, 2, 19, 4, 42, 12, 832831)
datetime.today() # datetime.datetime(2022, 2, 19, 4, 45, 58, 819395)

datetime.datetime(2022, 2, 19, 4, 45, 58, 819395)

# 데이터 연산 속도 비교
> 1. 변수를 별도로 만들고 변수를 대입하여 연산
> 2. 변수를 별도로 만들지 않고 바로 대입하여 연산
> 2번의 속도가 빠르다.

In [15]:
now = datetime.now().strftime("%Y-%m-%d")
now # '2022-02-19' 문자열형태

'2022-02-19'

In [18]:
# 1. 변수를 변도로 만든 후 사용
t1 = time.time()
dt = pd.date_range(now, periods=12, freq='MS') # 인자로 들어가는 now는 datetime/문자열 형태 상관 없음
t2 = time.time()
print(t2-t1)
dt

0.0006937980651855469

DatetimeIndex(['2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01',
               '2022-07-01', '2022-08-01', '2022-09-01', '2022-10-01',
               '2022-11-01', '2022-12-01', '2023-01-01', '2023-02-01'],
              dtype='datetime64[ns]', freq='MS')

In [17]:
# 2. 변수를 직접 넣어 사용
t1 = time.time()
dt = pd.date_range(datetime.now().strftime("%Y-%m-%d"), periods=12, freq='MS') # 인자로 들어가는 now는 datetime/문자열 형태 상관 없음
t2 = time.time()
print(t2-t1)
dt

0.0004892349243164062

DatetimeIndex(['2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01',
               '2022-07-01', '2022-08-01', '2022-09-01', '2022-10-01',
               '2022-11-01', '2022-12-01', '2023-01-01', '2023-02-01'],
              dtype='datetime64[ns]', freq='MS')

# datetime 타입과 strftime으로 만들어진 문자열 데이터의 연산속도 비교
> 유의미한 차이 없다

In [27]:
# 1. strftime 문자열 데이터
t1 = time.time()
dt = pd.date_range(now, periods=12, freq='MS') # 인자로 들어가는 now는 datetime/문자열 형태 상관 없음
t2 = time.time()
print(t2-t1)
dt

0.0004322528839111328

DatetimeIndex(['2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01',
               '2022-07-01', '2022-08-01', '2022-09-01', '2022-10-01',
               '2022-11-01', '2022-12-01', '2023-01-01', '2023-02-01'],
              dtype='datetime64[ns]', freq='MS')

In [28]:
# 1. strftime 문자열 데이터
t1 = time.time()
dt = pd.date_range(datetime.now(), periods=12, freq='MS') # 인자로 들어가는 now는 datetime/문자열 형태 상관 없음
t2 = time.time()
print(t2-t1)
dt

0.0006854534149169922

DatetimeIndex(['2022-03-01 04:57:50.977588', '2022-04-01 04:57:50.977588',
               '2022-05-01 04:57:50.977588', '2022-06-01 04:57:50.977588',
               '2022-07-01 04:57:50.977588', '2022-08-01 04:57:50.977588',
               '2022-09-01 04:57:50.977588', '2022-10-01 04:57:50.977588',
               '2022-11-01 04:57:50.977588', '2022-12-01 04:57:50.977588',
               '2023-01-01 04:57:50.977588', '2023-02-01 04:57:50.977588'],
              dtype='datetime64[ns]', freq='MS')

In [29]:
now = datetime.now().strftime("%Y-%m-%d")
now # '2022-02-19' 문자열형태

'2022-02-19'

In [40]:
pd.date_range(now, periods=13, freq='MS') + timedelta(days=14) # timedelta()는 years, months계산 불가

DatetimeIndex(['2022-03-15', '2022-04-15', '2022-05-15', '2022-06-15',
               '2022-07-15', '2022-08-15', '2022-09-15', '2022-10-15',
               '2022-11-15', '2022-12-15', '2023-01-15', '2023-02-15',
               '2023-03-15'],
              dtype='datetime64[ns]', freq=None)

In [48]:
from dateutil.relativedelta import relativedelta

now_m = datetime.now().month # 현재월 : 2
# pd.date_range(now, periods=13, freq='MS') + timedelta(days=14) - relativedelta(months=now_m+1)
# relativedelta() 함수는 리스트 계산 불가 → 반복문 사용
dt = []
for i in pd.date_range(now, periods=13, freq='MS') + timedelta(days=14):
    dt.append(i - relativedelta(months=now_m+1))
dt

[Timestamp('2021-12-15 00:00:00'),
 Timestamp('2022-01-15 00:00:00'),
 Timestamp('2022-02-15 00:00:00'),
 Timestamp('2022-03-15 00:00:00'),
 Timestamp('2022-04-15 00:00:00'),
 Timestamp('2022-05-15 00:00:00'),
 Timestamp('2022-06-15 00:00:00'),
 Timestamp('2022-07-15 00:00:00'),
 Timestamp('2022-08-15 00:00:00'),
 Timestamp('2022-09-15 00:00:00'),
 Timestamp('2022-10-15 00:00:00'),
 Timestamp('2022-11-15 00:00:00'),
 Timestamp('2022-12-15 00:00:00')]

In [44]:
pd.DataFrame({'dt':dt})

           dt
0  2022-01-15
1  2022-02-15
2  2022-03-15
3  2022-04-15
4  2022-05-15
5  2022-06-15
6  2022-07-15
7  2022-08-15
8  2022-09-15
9  2022-10-15
10 2022-11-15
11 2022-12-15
12 2023-01-15